/*
#FEFFDE => off white
#DDFFBC => light green
#91C788 => light green darker
#52734D => dark green
*/

* {
    font-family: "lato", sans-serif;
}

body {
    background: #feffde;
}

.upper-block {
    width: 25%;
    height: 5%;
    background: #52734d;
    color: #feffde;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin: 50px 50px 10px 50px;
    border-radius: 2px;
}

.button-father {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 10px;

    .button {
        width: 100px;
        height: 50px;
        background: #ddffbc;
        color: black;
        font-size: 17px;
        margin: 20px 0px 10px 40px;
        border: 2px solid #52734d;
        border-radius: 3px;
        cursor: pointer;
    }

    .button:focus {
        background-color: #52734d;
        color: #feffde;
        border: 2px solid black;
        border-radius: 3px;
    }
}

.list-item {
    display: flex;
    flex-flow: column wrap;
    width: 94%;
    height: auto;
    background-color: #ddffbc;
    color: #feffde;
    list-style: none;
    text-align: left;
    padding: 10px;
    margin: 10px;

    .name,
    .region,
    .area {
        max-width: fit-content;
        color: #52734d;
        font-weight: bold;
        line-height: 25px;
        margin-left: 10px;
    }
}

.filter-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .filter-label-father {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        gap: 20px;
        width: 250px;
        margin-right: 4%;

        .filter-label {
            width: 40px;
            color: #52734d;
            font-size: 20px;
            font-weight: bold;
        }

        .filter {
            width: 180px;
            height: auto;
            border: 2px solid #52734d;
        }
    }
}

.numbersFather {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;


    .pages {
        width: 120px;
        padding: 10px;
        text-align: center;
        font-size: 20px;
        border: 2px solid #52734d;
    }
    .previous, .next {
        width: 60px;
        height: 30px;
        background: #ddffbc;
        color: black;
        font-size: 12px;
        border: 2px solid #52734d;
        border-radius: 3px;
        text-align: center;
        text-decoration:none;
        line-height: 20px;
        margin: 12px 20px;
        cursor: pointer
    }
    
}

@media only screen and (max-width: 768px) {
    .upper-block {
        width: 260px;
        font-size: 20px;
    }

    .button-father {
        margin-left: 10px;

        .button {
            width: 60px;
            height: 30px;
            font-size: 10px;
            margin-left: 40px;
        }
    }

    .filter-block {
        width: 400px;
        margin-left: 40px;
        margin-top: 20px;

        .filter-label-father {
            justify-content: flex-start;
            gap: 40px;
            width: 400px;
            margin-left: 10px;
        }
    }
    .list-item {
        justify-content: center;
        width: 80%;
    }
}

@media only screen and (max-width: 422px) {
    .upper-block {
        margin-left: 90px;
    }
    .button-father {
        justify-content: space-between;
        width: 300px;
        margin-left: 50px;

        .button {
            width: 57px;
            height: 20px;
            font-size: 9px;
            margin-left: 40px;
        }
    }

    .list-item {
        justify-content: center;
        width: 240px;
    }

    .filter-block {
        margin: 10px 0px 0px 25px;

        .filter-label-father {
            justify-content: center;
        }
    }
    .list-item-father {
        .list-item {
            margin-left: 50px;
        }
    }
}
