* {
    font-family: 'lato', sans-serif;
}

/*
#FEFFDE => off white
#DDFFBC => light green
#91C788 => light green darker
#52734D => dark green
*/

body {
    background: #FEFFDE;
}

.upper-block {
    background: #52734D;
    color: #FEFFDE;
    width: 380px;
    height: 60px;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    margin: 50px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.button-father {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 10px;
    
    .button {
        width: 100px;
        height: 50px;
        background: #DDFFBC;
        color: black;
        font-size: 17px;
        margin: 20px 0px 10px 40px;
        border: 2px solid #52734D;
        border-radius: 3px;
        cursor: pointer;
    }

    .button:focus {
        background-color: #52734D;
        color: #FEFFDE;
        border: 2px solid black;
        border-radius: 3px;
    }
}